.example-spacer {
  flex: 1 1 auto;
}

.address-body {
  margin: 2rem 20rem;
  display: flex;
  flex-direction: column;
  .card-container {
    flex-wrap: wrap;
    display: flex;
  }
  mat-card {
    padding: 0rem 2rem;
    width: 25rem;
  }
  mat-form-field{
    width: 100%;
  }
  button {
    margin-bottom: 1rem;
    align-self: flex-end;
  }
}
.header-container{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
}
.actions {
  display: flex;
  flex-direction: column;
  button {
    flex: 1;
  }
}
.icon-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.empty-container{
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;

  img{
    height: 15rem;
    width: 15rem;
  }
}
