<div mat-dialog-title>{{ data ? "Update" : "Add" }} Contact</div>
<form (ngSubmit)="onSubmit()" [formGroup]="addressForm">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field color="primary" appearance="outline">
        <mat-label> First Name </mat-label>
        <input
          matInput
          placeholder="Ex. Solomon"
          formControlName="first_name"
        />
      </mat-form-field>
      <mat-form-field color="primary" appearance="outline">
        <mat-label> Last Name </mat-label>
        <input matInput placeholder="Ex. McBryan" formControlName="last_name" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field color="primary" appearance="outline">
        <mat-label> Contact Number </mat-label>
        <input
          matInput
          class="row-two"
          placeholder="Ex. 0592322565"
          formControlName="phone_number"
        />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="actions">
    <button
      mat-raised-button
      type="button"
      [mat-dialog-close]="false"
      color="secondary"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      type="submit"
      [disabled]="
        data?.first_name == addressForm.value.first_name &&
        data?.last_name == addressForm.value.last_name &&
        data?.phone_number == addressForm.value.phone_number
      "
      color="primary"
    >
      {{ data ? "Update" : "Add" }}
    </button>
  </div>
</form>
